A:hover {
	 COLOR: #909090
}
.hauptmenue {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.hauptmenue A:link {
	FONT-WEIGHT: bold;  VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.hauptmenue A:visited {
	FONT-WEIGHT: bold;  VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.hauptmenue A:hover {
	FONT-WEIGHT: bold;  VERTICAL-ALIGN: top; COLOR: #ff0000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.hauptmenue A:active {
	FONT-WEIGHT: bold;  VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.untermenue {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.untermenue A:link {
	FONT-WEIGHT: normal;  COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.untermenue A:visited {
	FONT-WEIGHT: normal;  COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.untermenue A:hover {
	FONT-WEIGHT: normal;  COLOR: #ff0000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.untermenue A:active {
	FONT-WEIGHT: normal;  COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.tocsmall {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	letter-spacing: 1px;


}
.tocnorm {
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	letter-spacing: 1px;


}
.currentoc {
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: #828646;
	text-decoration: none;
	letter-spacing: 1px;



}
.bordergrey {
	border: thin solid #999999;
}
.currentocsmall {
	font-size: 11px;
	text-decoration: none;
	color: #828646;
	font-family: Helvetica, Arial;
	letter-spacing: 1px;



}
.inhaltvzcontent {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18pt;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000033;
}
.fresh {
	font-family: Helvetica, Arial;
	font-size: 12px;
	font-weight: bold;
	color: #006600;
	text-decoration: none;
	letter-spacing: 2px;
}
.inhaltvzcore {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000066;
	text-decoration: none;
	line-height: 25px;
	letter-spacing: 1px;

}
.back {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #990000;
	text-decoration: none;
	letter-spacing: 1px;

}
.textic {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	letter-spacing: 2pt;
}
.smallborder {
	border: 1px solid #CCCCCC;
}
.tocsmallb {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color: #9B846A;
	text-decoration: none;
}
.textst {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 5px;
}
.text11 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}
.textueberschrift1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.textzueberschrift2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;

}
.xtra {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #FF3300;
	text-decoration: none;
}
.backgrey {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;

}
.delrot {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: #6F6FFF;
	text-decoration: none;
	letter-spacing: 1px;
}
.bordergrey2 {
	border: 1px solid #CCCCCC;
}
