.text {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	COLOR: #000000;
	FONT-FAMILY: Helvetica, Arial;
	LETTER-SPACING: 1px;
	text-decoration: none;
	line-height: 19px;



}
.text A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.text A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.text A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.text A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textbold {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #000000;
	FONT-FAMILY: Helvetica, Arial;
	LETTER-SPACING: 1px;
	TEXT-ALIGN: left;
	text-decoration: none;

}
.textbold A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textbold A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textbold A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textbold A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textitalic {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	COLOR: #000000;
	FONT-STYLE: italic;
	FONT-FAMILY: Helvetica, Arial;
	LETTER-SPACING: 1px;
	TEXT-ALIGN: left;
	text-decoration: none;

}
.textitalic A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textitalic A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textitalic A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textitalic A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.textrot {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	COLOR: #b40f32;
	FONT-STYLE: normal;
	FONT-FAMILY: Helvetica, Arial;
	LETTER-SPACING: 1px;
	TEXT-ALIGN: left;
	text-decoration: none;

}
.textrot A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #b40f32; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial
}
.textrot A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #b40f32; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial
}
.textrot A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #b40f32; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial
}
.textrot A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #b40f32; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial
}
.index {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.index A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; BORDER-LEFT-COLOR: #efefef; BORDER-BOTTOM-COLOR: #efefef; TEXT-TRANSFORM: none; COLOR: #000000; BORDER-TOP-COLOR: #efefef; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #efefef
}
.index A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; BORDER-LEFT-COLOR: #efefef; BORDER-BOTTOM-COLOR: #efefef; TEXT-TRANSFORM: none; COLOR: #000000; BORDER-TOP-COLOR: #efefef; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #efefef
}
.index A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; BORDER-LEFT-COLOR: #efefef; BORDER-BOTTOM-COLOR: #efefef; TEXT-TRANSFORM: none; COLOR: #ff0000; BORDER-TOP-COLOR: #efefef; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #efefef
}
.index A:active {
	FONT-WEIGHT: normal; BORDER-LEFT-COLOR: #efefef; BORDER-BOTTOM-COLOR: #efefef; TEXT-TRANSFORM: none; COLOR: #000000; BORDER-TOP-COLOR: #efefef; FONT-STYLE: normal; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #efefef
}
.ueberschrift {
	FONT-WEIGHT: bold;
	FONT-SIZE: 20px;
	COLOR: #000000;
	FONT-FAMILY: Helvetica, Arial;
	LETTER-SPACING: 1px;
	text-decoration: none;

}
.unterueberschrift {
	FONT-WEIGHT: normal;
	FONT-SIZE: 17px;
	COLOR: #000000;
	FONT-FAMILY: Helvetica, Arial;
	LETTER-SPACING: 1px;
	text-decoration: none;

}
.autor {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
.erklaerung {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Helvetica, Arial; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
.erklaerung A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.erklaerung A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.erklaerung A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
.erklaerung A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica, Arial
}
