---
layout: default
---



{% if page.issue %}
<article class="page" itemscope itemtype="http://schema.org/ScholarlyArticle">

<div align="right">
{% if page.issue == '10/11' %}
<strong> > > > <a href="/ausgabe10/inhalt.htm">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br></div>
{% elsif page.issue == '8/9' %}
<strong> > > > <a href="/ausgabe8/inhalt.htm">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br></div>
{% elsif page.issue == "23" %}
<strong> > > > <a href="/ausgabe23/00inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br></div>
{% elsif page.issue == "24" %}
<strong> > > > <a href="/ausgabe24/00inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
</div>
{% elsif page.issue == "25" %}
<strong> > > > <a href="/ausgabe25/00inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
</div>
{% elsif page.issue == "26" %}
<strong> > > > <a href="/ausgabe26/00inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br></div>
{% elsif page.issue == "27" %}
<strong> > > > <a href="/ausgabe27/00inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
</div>
{% elsif page.issue == "28" %}
<strong> > > > <a href="/ausgabe28/inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
</div>
{% elsif page.issue == "29" %}
<strong> > > > <a href="/ausgabe29/inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
</div>
{% elsif page.issue == "30" %}
<strong> > > > <a href="/ausgabe30/inhalt/">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
</div>

{% else %}
<strong> > > > <a href="inhalt.htm">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
</div>
{% endif %}
{% else %}
<article class="page">
    {% endif %}

    {% if page.issue == "30" %}
    <div align="right">
    <p><small><a itemprop="sameAs" href="https://via.hypothes.is/{{ site.url }}{{ page.url | remove:'index.html' }}">Annotate via hypothes.is</a></small></p>
    </div>
    {% endif %}


    {% if page.urn %}
    <div align="right">
    <p><small><a itemprop="sameAs" href="https://via.hypothes.is/{{ site.url }}{{ page.url | remove:'index.html' }}">Annotate via hypothes.is</a></small></p>
        <small><a itemprop="sameAs" href="http://nbn-resolving.de/{{ page.urn }}">Download PDF @ edoc HU Berlin</a>
            <br>
            {{ page.urn }} </small>
        </div>
        {% else %}
        {% endif %}

        {% if page.title %}
        <h1 itemprop="name" class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if page.subtitle %}
        <h2><small>{{ page.subtitle }}</small></h2>
        {% endif %}
        {% endif %}


        {% assign authorCount = page.contributor | size %}
        <div class="titelei">
            {% if authorCount == 0 %}
            No author
            {% elsif authorCount == 1 %}
            {{ page.contributor | first }}
            {% else %}
            {% for author in page.contributor %}
            {% if forloop.first %}
            <i itemprop="author">{{ author }}</i>
            {% elsif forloop.last %}
            <i>&amp;</i> <i itemprop="author">{{ author }}</i>
            {% else %}
            <i>,</i> <i itemprop="author">{{ author }}</i>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}



        {% if page.abstract %}

        <p><small itemprop="description">{{ page.abstract }}</small></p>

        {% endif %}

        {% if page.abstractalt %}

        <br>

        <p><small itemprop="description">{{ page.abstractalt }}</small></p>

        {% endif %}



        {% if page.journal %}
        <p>
          <small>
            <br>
            Zitiervorschlag
            <br>
            {% for author in page.contributor %}
            {% if forloop.first %}
            {{ author }},
            {% elsif forloop.last %}
            {{ author }},
            {% else %}
            {{ author }},
            {% endif %}
            {% endfor %}"{{ page.title }}{{ page.subtitle | prepend:'. ' }}". <i itemprop="provider">{{ page.journal }}</i>, {{ page.issue }} (<span itemprop="datePublished">{{ page.year }}</span>). <a itemprop="url" href="{{ site.url }}{{ page.url | remove:'index.html' }}">{{ site.url }}{{ page.url | remove:'index.html' }}</a>
        </small>
        <hr>
    </p>
    {% elsif page.subtitle %}
    <p>
        <small>
            <br>
            Zitiervorschlag
            <br>
            {{ page.contributor }}. {{ page.year }}. {{ page.title }}, {{ page.subtitle }}. <i>{{ page.journal }}</i>, {{ page.issue }}.
        </small>
        <hr>
    </p>
    {% endif %}





    <div class="entry-content" itemprop="articleBody">{{ content }}</div>

    {% if page.noncc %}

    <hr>

    <p><strong>{{ page.noncc }}</strong></p>

    {% endif %}

</article>


{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
