---
layout: default
---
{% if page.journal %}
<article class="page" itemscope itemtype="http://schema.org/ScholarlyArticle">
	<div align="right">
	<strong> > > > <a href="inhalt.htm">{{ page.journal }} # {{ page.issue}}</a></strong> <br><br>
    <small><a itemprop="sameAs" href="http://nbn-resolving.de/{{ page.urn }}">Download PDF @ EDOC HU Berlin</a>
        <br>
        {{ page.urn }} </small>
	</div>
    {% else%}
    <article class="page">

    {% endif %}
    {% if page.title %}
    <h1 itemprop="name" class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
     {% if page.title %}
    <h3 class="title"><small>{% if site.titlecase %}{{ page.subtitle | titlecase }}{% else %}{{ page.subtitle }}{% endif %}</small></h3></br>
    {% endif %}

    
{% assign authorCount = page.contributor | size %}
{% if authorCount == 0 %}
    No author
{% elsif authorCount == 1 %}
    {{ page.contributor | first }}
{% else %}
    {% for author in page.contributor %}
        {% if forloop.first %}
           <i itemprop="author">{{ author }}</i>
        {% elsif forloop.last %}
            <i>&amp;</i> <i itemprop="author">{{ author }}</i>
        {% else %}
            <i>,</i> <i itemprop="author">{{ author }}</i>
        {% endif %}
    {% endfor %}
{% endif %}
    


    {% if page.abstract %}
        <br>
        <p><small itemprop="description">Abstract: {{ page.abstract }}</small></p>
        {% endif %}
        {% if page.urn %}
		<p>
	    	<small>
            <br>
    		Zitiervorschlag
    		<br>
    		{% for author in page.contributor %}
        {% if forloop.first %}
          {{ author }},
        {% elsif forloop.last %}
           {{ author }},
        {% else %}
           {{ author }},
        {% endif %}
    {% endfor %}"{{ page.title }}". <i itemprop="provider">{{ page.journal }}</i>, {{ page.issue }} (<span itemprop="datePublished">{{ page.year }}</span>). <a itemprop="url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>
    	    </small>
            <hr>
    	</p>
       {% elsif page.subtitle %}
    <p>
            <small>
            <br>
            Zitiervorschlag
            <br>
            {{ page.contributor }}. {{ page.year }}. {{ page.title }}, {{ page.subtitle }}. <i>{{ page.journal }}</i>, {{ page.issue }}.
            </small>
            <hr>
        </p>
    {% endif %}
    <div class="entry-content" itemprop="articleBody">{{ content }}</div>
</article>
{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
