<hr>
<p>
Herausgegeben am <a href="http://www.ibi.hu-berlin.de/">Institut für Bibliotheks- und Informationswissenschaft</a> der <a href="http://www.hu-berlin.de/">Humboldt-Universität zu Berlin</a>.<p>

ISSN: 1860-7950

Kontakt: <a href="mailto:redaktion@libreas.eu">redaktion@libreas.eu</a>
</p>

<br>

<p>Work is attributed under <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported (CC BY 3.0)</a>, if not stated otherwise</p>
{{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}
<br>
Powered by Octopress.

