<ul>
	<li><a href="{{ root_url }}/ausgabe23/inhalt.htm">Aktuelle Ausgabe</a></li>
	<li><a href="{{ root_url }}/archiv.htm">Archiv</a></li>
	<li><a href="http://edoc.hu-berlin.de/browsing/libreas/">edoc pdf-Archiv</a></li>
	<hr>
	<li><a href="{{ root_url }}/autorinnen">AutorInnen</a></li>
	<li><a href="http://libreas.wordpress.com/category/libreas-call-for-papers/">Call for Papers</a></li>
	<li><a href="{{ root_url }}/authorguides">Hinweise</a></li>
	<hr>
	<li><a href="http://libreas.wordpress.com/">Blog</a></li>
	<li><a href="http://libreas.tumblr.com/">Tumblr</a></li>
	<li><a href="http://www.ib.hu-berlin.de/~libreas/libreas_neu/podcasts/">Podcasts</a></li>
	<hr>
	<li><a href="http://libreas-verein.eu">Verein</a></li>
	<hr>
	<li><a href="{{ root_url }}/about">Impressum</a></li>
</ul>
