.text  { 
	font-family:Helvetica, Arial; 
	font-size:13px; 
	font-weight:normal;
	text-align:left;
	letter-spacing:0;
	color:#000000; 
}
.textbold  { 
	font-family:Helvetica, Arial; 
	font-size:13px; 
	font-weight:bold;
	text-align:left;
	letter-spacing:0;
	color:#000000; 
}

.textitalic  { 
	font-family:Helvetica, Arial; 
	font-size:13px; 
	font-weight:normal;
	font-style:italic; 
	text-align:left;
	letter-spacing:0;
	color:#000000; 
}
.textrot  { 
	font-family:Helvetica, Arial; 
	font-size:13px; 
	font-weight:normal;
	font-style:normal; 
	text-align:left;
	letter-spacing:0;
	color:#B40F32; 
}
.index  { 
	font-family:Helvetica, Arial; 
	font-size:13px; 
	font-weight:normal;
	font-style:normal;
	text-align:left;
	letter-spacing:0;
	color:#000000; 
	text-transform:none;
	text-decoration:none;
}
.ueberschrift  {
	font-family:Helvetica, Arial; 
	font-size:20px; 
	font-weight:bold;
	text-transform:normal;
	letter-spacing:0px;
	color:#000000; 
}
.unterueberschrift  {
	font-family:Helvetica, Arial; 
	font-size:17px; 
	font-weight:normal;
	text-transform:normal;
	letter-spacing:0px;
	color:#000000; 
}
.autor  { 
	font-family:Helvetica, Arial; 
	font-size:11px; 
	font-weight:normal;
	text-align:left;
	letter-spacing:0;
	color:#000000; 
}
.erklaerung  {
	font-family:Helvetica, Arial;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	letter-spacing:0;
	color:#000000;
	text-decoration: none;
}
